/* Variables */
:root {
  --card-size: 180px;
  --expanded-card-height: 400px;
  --expanded-card-width: 180px;
  --content-size: 80%;
  --transition-duration: 0.3s;
  --spacing: 4px;
}

/* Font */
@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  src: url('../fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Body */
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #282828;
  font-family: 'JetBrainsMono Nerd Font';
}

/* Container */
#container,
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Square */
.sqr {
  display: inline-block;
  width: var(--card-size);
  height: var(--card-size);
  margin: var(--spacing);
  border: 0 solid #282828;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: #FABD2F;
  transition: all var(--transition-duration) ease-in-out;
}

.sqr span {
  line-height: var(--card-size);
  font-size: 18px;
  color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sqr .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: opacity var(--transition-duration) ease-in-out, transform var(--transition-duration) ease-in-out;
  text-align: center;
  width: 100%;
}

.sqr:hover {
  height: var(--expanded-card-height);
  width: var(--expanded-card-width);
  border-top: 9px solid #EBDBB2;
  border-bottom: 9px solid #EBDBB2;
}

.sqr:hover .content {
  height: var(--expanded-card-height);
  width: var(--expanded-card-width);
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* Content */
.content {
  top: 50%;
  transform: translate(-50%, -50%);
  height: var(--content-size);
  opacity: 0;
  transition: opacity var(--transition-duration) ease-in-out, transform var(--transition-duration) ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sqr:hover .content,
.content {
  opacity: 1;
}

.sqr img {
  position: absolute;
  top: 15px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 50px; /* Adjust the width as needed */
  height: auto;
}


/* Links */
.content a, .editLink {
  font-size: 14px;
  color: #282828;
  margin: var(--spacing);
  text-decoration: none;
  line-height: 25px;
  display: block;
}

/* Search Input */
#searchinput {
  padding: 5px;
  border: none;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #EBDBB2;
}

#searchinput:focus {
  outline: none;
  border: none;
}

/* Greeting Container */
#greetingContainer,
#timeContainer {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'JetBrainsMono Nerd Font';
  z-index: 1;
  color: #EBDBB2;
}

#greetingContainer {
  position: fixed;
  top: 20%;
  font-size: 20px;
  left: 50%;
}

#timeContainer {
  font-size: 30px;
  top: 15%;
}

/* Version and Edit Icon */
#version,
#editIcon {
  z-index: 1;
  position: absolute;
}

#version {
  bottom: 5px;
  right: 5px;
}

#editIcon {
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#editIcon img {
  width: 30px;
  height: auto;
}

/* Edit Menu */
#editMenu {
  position: fixed;
  bottom: 60px;
  right: 30px;
  background-color: #FABD2F;
  box-shadow: 0 0 10px #282828;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#editMenu.show {
  opacity: 1;
  transform: translateY(0);
}

/* Edit Link */
.editLink {
  padding: 5px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  text-align: center;
  color: #282828;
  transition: background-color 0.3s ease;
}

.editLink:hover {
  background-color: #EBDBB2;
}

/* Add styles for the weather container */
#weatherContainer,
#currentWeather {
  text-align: center;
  color: #EBDBB2;
  margin-top: 50px;
  font-size: 30px;
  font-family: 'JetBrainsMono Nerd Font';
  z-index: 1; /* Adjust the margin as needed */
}